{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Тур{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style/base.css'%}">
    {% block style %}
    {% endblock style %}
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <div class="container">
            <div class="head-nav">
                <div class="logo">
                    <a href="{% url 'home' %}"><img width="150" height="150" class="round" src="{% static 'img/logo/img-logo.svg' %}" alt=""/></a>
                </div>
                <nav>
                    <ul class="topmenu">
                        <li><a href="{% url 'hotel' %}">Готели</a></li>
                        <li><a href="{% url 'acton' %}">Акції</a></li>
                        <li><a href="{% url 'tour' %}">Тури</a></li>
                        <li><a href="{% url 'city' %}">Міста</a></li>
                        <li class="drop">
                            <img width="45" height="45" src="{% static 'img/account_avatar_face_man_people_profile_user_icon.svg' %}" alt="Пользователь">
                            <ul class="submenu">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' user.pk %}">Профіль</a></li>
                                    <li><a href="{% url 'logout' %}">Вийти</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Ввійти</a></li>
                                    <li><a href="{% url 'signup' %}">Реєстрація</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr>
        </div>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div class="row-grid" id="contact">
                    <div >
                        <p>
                            <b>Телефон:</b>
                            <a href="tel:+00000000000">+00000000000</a>
                        </p>
                        <p>
                            <b>Почта:</b>
                            <a href="mailto:rss00@yandex.ru">Fizamt@Fizmat.ua</a>
                        </p>
                        <p>
                            <b>Адреса:</b>
                            100500 м. Петрики Вул.Перемоги, 1
                        </p>
                    </div>
                    <div>
                        <img src="{% static 'img/logo/logo.svg' %}" alt="" width="90" height="90">
                        <big>Наша компания ////</big>
                    </div>
                </div>
                <div class="company">
                    <p>Компания «Джанго тур» &copy; 2004р - </p>
                </div>
            </div>
        </div>
    </footer>
    {% block script %}

    {% endblock script %}
</body>
</html>