{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <h1>Турагенство РомаТур</h1>
        <p>Лучшие туры по низким ценам</p>
    </div>
    <article>
        <div class="container">
            {% comment %} <h2>Города</h2>
            <div class="owl-carousel">
                {% for item in city %}
                    <div>
                        <img src="{{ item.photo.url }}" alt="" width="300" height="300">
                        <a href="{% url 'city_detail' item.pk %}">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </div> {% endcomment %}
            <h2>Отели</h2>
            <div class="owl-carousel">
                {% for item in hotel %}
                    <div>
                        <img src="{{ item.photo.url }}" alt="" width="300" height="300">
                        <a href="{% url 'hotel_detail' item.pk %}">{{ item.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock content %}

{% block script %}
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'owl/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel();
          });
    </script>
{% endblock script %}