{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Турагенство РомаТур</h1>
        <p>Лучшие туры по низким ценам</p>
    </div>
    <article>
        <div class="container">
            <h2>Города</h2>
            {% for item in city %}
                <a href="{% url 'city_detail' item.pk %}">{{ item.name }}</a>
            {% endfor %}
            <h2>Отели</h2>
            {% for item in hotel %}
                <a href="{% url 'hotel_detail' item.pk %}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </article>
{% endblock content %}