{% extends 'list.html' %}
{% load static %}

{% block table %}
    <thead>
        <tr>
            <th>Назва</th>
            {% if user.is_superuser %}
                <th>Дата створення</th>
                <th>Автор</th>
                <th>Видалити</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                {% if user.is_superuser %}
                    <td>{{ object.created }}</td>
                    <td>{{ object.author }}</td>
                    <td><a href="{% url 'food_delete' object.pk %}">Видалити</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}