{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style/city/city_detail.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'home' %}">На главную</a>/<a href="{% url 'tour' %}">Туры</a>/{{ tour.name }}</p>
        <article>
            <img src="{{ tour.photo.url }}" alt="{{ tour.name }}">
            <div class="title">
                <h2>{{ tour.name }}</h2>
                <p>{{ tour.body }}</p>
                <a href="{% url 'tour_buy' tour.pk %}">купить</a>
            </div>
        </article>
    </div>
{% endblock content %}