{% extends 'list.html' %}
{% load static %}

{% block table %}
    <thead>
        <tr>
            <th>Назва</th>
            <th>Фото</th>
            <th>Опис</th>
            <th>Акція</th>
            <th>Ціна</th>
            <th>Готель</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td><img src="{{ object.hotelName.photo.url }}" width="300" height="200" alt='{{ object.name }}'/></td>
                <td>{{ object.body }}</td>
                {% if object.event %}
                    <td>Так</td>
                {% else %}
                    <td>Ні</td>
                {% endif %}
                <td>{{ object.cost }}</td>
                <td>{{ object.hotelName }}</td>
                <td><a href="{% url 'tour_edit' object.pk %}">Редагувати</a></td>
                <td><a href="{% url 'tour_delete' object.pk %}">Видалити</a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}