{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style/user/login.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <h2>Авторизация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-form">
                <button type="submit" class="button type1">Войти</button>
            </div>
        </form>
    </div>
{% endblock %}