{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <ul>
                <li><a href="{% url 'password_change' %}">Сменить пароль</a></li>
                <li><a href="">Купленные туры</a></li>
                {% if user.post != "Пользователь" %}
                    <hr>
                    <li><a href="{% url 'hotel_new' %}">Добавить отель</a></li>
                    <li><a href="{% url 'tour_new' %}">Добавить тур</a></li>
                    <li><a href="{% url 'city_new' %}">Добавить город</a></li>
                    <hr>
                    <li><a href="{% url 'list_tour' %}">Список туров</a></li>
                    <li><a href="{% url 'list_city' %}">Список городов</a></li>
                    <li><a href="{% url 'list_hotel' %}">Список Отелей</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <hr>
                    <li><a href="{% url 'user_new' %}">Добавить сотрудника</a></li>
                    <li><a href="{% url 'workers_table' %}">Список Сотрудников</a></li>
                    <li><a href="{% url 'user_table' %}">Список Пользователей</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}