{% extends 'base.html' %}
{% load static %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'style/user/signup.css' %}">
    </head>
    <div class="container-signup">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                    <div class="alert-form">
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <p>
                                    {{ error }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="button-form">
                <button type="submit" class="button type1">Реаєстрація</button>
            </div>
        </form>
    </div>
    {% comment %} https://codepen.io/JeremyWink/pen/LYPMLLV {% endcomment %}
{% endblock %}