{% extends 'list.html' %}
{% load static %}

{% block table %}
    <thead>
        <tr>
            <th>Пошта</th>
            <th>ім'я</th>
            <th>Прізвище</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.email }}</td>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td><a href="{% url 'city_edit' object.pk %}">Редагувати</a></td>
                <td><a href="{% url 'user_delete' object.pk %}">Видалити</a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}