{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style/hotel/hotel.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'home' %}">На головну</a>/Готелі</p>
        <div>
            {% for city in object_list %}
                <article>
                    <h2>{{ city.name}}</h2>
                    <div class="owl-carousel">
                        {% for hotel in city.get_hotels %}
                            <a href="{% url 'hotel_detail' hotel.pk %}">
                                <img src="{{ hotel.photo.url }}" alt="{{ hotel.name }}"  width="300" height="200">
                                <p>{{ hotel.name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock content %}