{% extends 'list.html' %}
{% load static %}

{% block table %}
    <thead>
        <tr>
            <th>Назва</th>
            <th>Фото</th>
            <th>Опис</th>
            <th>Місто</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td><img src="{{ object.photo.url }}" width="300" height="200" alt='{{ object.name }}'/></td>
                <td>{{ object.body }}</td>
                <td>{{ object.cityName }}</td>
                <td><a href="{% url 'hotel_edit' object.pk %}">Редагувати</a></td>
                <td><a href="{% url 'hotel_delete' object.pk %}">Видалити</a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table %}